.main {
    width: 98%;           /* Cho rộng ra 98% màn hình */
    margin: 20px auto;    /* Căn giữa tự động */
    min-height: 800px;
    position: relative;   /* Đổi từ absolute sang relative để không bị lệch */
    background-color: transparent; /* Xóa màu xám cũ để hiện nền đen của JS */
    display: flex;
    justify-content: center;
}

li {
    text-decoration: none;
    list-style: none;
}